# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Streamlit cache
.streamlit/config.toml
.streamlit/*.json

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# Ignore database and secrets
*.db
*.sqlite3
*.log
